@mixin box-shadow($hLength, $vLength, $blurRadius, $spreadRadius, $color) {
  -webkit-box-shadow: $hLength $vLength $blurRadius $spreadRadius $color;
  -moz-box-shadow: $hLength $vLength $blurRadius $spreadRadius $color;
  box-shadow: $hLength $vLength $blurRadius $spreadRadius $color;
}

@mixin gradient-top-bottom($topColor, $bottomColor) {
  background: -webkit-linear-gradient($topColor, $bottomColor);
  background: -o-linear-gradient($topColor, $bottomColor);
  background: -moz-linear-gradient($topColor, $bottomColor);
  background: linear-gradient($topColor, $bottomColor);
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  font-family: 'Arial', 'Helvetica', 'Verdana', 'sans-serif';
  background: url('../img/background.png');
}

.container {
  width: 960px;
  margin: 0 auto;
}

.filters {
  width: 920px;
  margin: 20px;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  border: 1px solid #a66a32;
  @include gradient-top-bottom(#f5b86c, #df9a48);
  label {
    margin-left: 12px;
  }
  input {
    margin-right: 10px;
    width: 150px;
  }
  select, input {
    padding: 3px;
  }
}

.shelf {
  @extend .container;
  background: url('../img/shelf_borders.png') repeat-y;
}

.shelf-top, .shelf-bottom {
  width: 960px;
  height: 30px;
  margin: 0 auto;
}

.shelf-top {
  background: url('../img/shelf_top.png') no-repeat;
  h4 {
    @include vertical-center;
    margin-right: 50px;
    margin-left: 50px;
    text-align: right;
    font-size: 13px;
  }
}

.shelf-bottom {
  background: url('../img/shelf_bottom.png') no-repeat;
}

.shelf-row {
  width: 900px;
  margin: 0 auto;
  background: url('../img/shelf_background.png') repeat-y;
}

.shelf-book-details {
  float: left;
  width: 900px;
  height: 460px;
  margin: 0;
  color: #d2d2d2;
  background: url('../img/shelf_details.png') repeat-y;
  h2 {
    margin: 0;
    padding: 20px 0 0 20px;
  }
  h4 {
    margin: 0;
    padding: 5px 0 0 20px;
  }
  .left-side {
    width: 50%;
    float: left;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 30px 0 0 20px;
      li {
        padding: 0 0 5px 0;
      }
    }
  }
  .right-side {
    width: 50%;
    float: right;
    p {
      text-align: justify;
      margin: 0;
      padding: 20px 20px 0 20px;
    }
  }
}

.book-cover {
  float: left;
  width: 128px;
  height: 180px;
  margin: 24px 26px 26px 26px;
  @include box-shadow(0px, 0px, 5px, 3px, rgba(35, 35, 35, 0.75));
}

.book-cover:hover {
  cursor: pointer;
}
