body {
  font-family: 'Arial', 'Helvetica', 'Verdana', 'sans-serif';
  background: url("../img/background.png");
}

.container, .shelf {
  width: 960px;
  margin: 0 auto;
}

.filters {
  width: 920px;
  margin: 20px;
  padding: 20px 0;
  text-align: center;
  font-size: 13px;
  border: 1px solid #a66a32;
  background: -webkit-linear-gradient(#f5b86c, #df9a48);
  background: -o-linear-gradient(#f5b86c, #df9a48);
  background: -moz-linear-gradient(#f5b86c, #df9a48);
  background: linear-gradient(#f5b86c, #df9a48);
}
.filters label {
  margin-left: 12px;
}
.filters input {
  margin-right: 10px;
  width: 150px;
}
.filters select, .filters input {
  padding: 3px;
}

.shelf {
  background: url("../img/shelf_borders.png") repeat-y;
}

.shelf-top, .shelf-bottom {
  width: 960px;
  height: 30px;
  margin: 0 auto;
}

.shelf-top {
  background: url("../img/shelf_top.png") no-repeat;
}
.shelf-top h4 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 50px;
  margin-left: 50px;
  text-align: right;
  font-size: 13px;
}

.shelf-bottom {
  background: url("../img/shelf_bottom.png") no-repeat;
}

.shelf-row {
  width: 900px;
  margin: 0 auto;
  background: url("../img/shelf_background.png") repeat-y;
}

.shelf-book-details {
  float: left;
  width: 900px;
  height: 460px;
  margin: 0;
  color: #d2d2d2;
  background: url("../img/shelf_details.png") repeat-y;
}
.shelf-book-details h2 {
  margin: 0;
  padding: 20px 0 0 20px;
}
.shelf-book-details h4 {
  margin: 0;
  padding: 5px 0 0 20px;
}
.shelf-book-details .left-side {
  width: 50%;
  float: left;
}
.shelf-book-details .left-side ul {
  list-style-type: none;
  margin: 0;
  padding: 30px 0 0 20px;
}
.shelf-book-details .left-side ul li {
  padding: 0 0 5px 0;
}
.shelf-book-details .right-side {
  width: 50%;
  float: right;
}
.shelf-book-details .right-side p {
  text-align: justify;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.book-cover {
  float: left;
  width: 128px;
  height: 180px;
  margin: 24px 26px 26px 26px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(35, 35, 35, 0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(35, 35, 35, 0.75);
  box-shadow: 0px 0px 5px 3px rgba(35, 35, 35, 0.75);
}

.book-cover:hover {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
