<!DOCTYPE html>
<html ng-app="VirtualBookshelf">
<head lang="en">
    <meta charset="UTF-8">
    <title>Virtual Bookshelf</title>
    <!-- build:css css/style.css -->
    <link rel="stylesheet" href="components/normalize.css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <!-- build:js js/code.js -->
    <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="components/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="components/underscore/underscore.js"></script>
    <script type="text/javascript" src="components/moment/moment.js"></script>
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="js/sortable.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- endbuild -->
</head>
<body ng-controller="MainListCtrl">

    <div class="container">
        <div class="filters">
            <input class="filterInput filterElement" id="filter_title" type="text" placeholder="Title" data-ng-model="filterTitle" data-ng-change="filterBooks(sortingOrder)">
            <input class="filterInput filterElement" id="filter_author" type="text" placeholder="Author" data-ng-model="filterAuthor" data-ng-change="filterBooks(sortingOrder)">
            <label class="filterElement" for="filter_genre">
                Genre:
            </label>
            <select class="filterSelect filterElement" id="filter_genre" data-ng-model="filterGenre" data-ng-change="filterBooks(sortingOrder)">
                <option value="All">All</option>
                <option value="Adventure">Adventure</option>
                <option value="Classics">Classics</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Horror">Horror</option>
                <option value="Poetry">Poetry</option>
                <option value="Science">Science</option>
                <option value="Science Fiction">Science Fiction</option>
            </select>
            <label class="filterElement" for="filter_language">
                Language:
            </label>
            <select class="filterSelect filterElement" id="filter_language" data-ng-model="filterLanguage" data-ng-change="filterBooks(sortingOrder)">
                <option value="All">All</option>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Polish">Polish</option>
            </select>
            <label for="sort_options">
                Sorting:
            </label>
            <select id="sort_options" data-ng-model="sortingOrder" data-ng-change="changeSorting(sortingOrder)">
                <option value="title">by title</option>
                <option value="purchase_date">by purchase date</option>
                <option value="genre">by genre</option>
                <option value="language">by language</option>
                <option value="manual">manual</option>
            </select>
        </div>
        <div class="shelf">
            <div class="shelf-top">
                <h4>Books: {{booksNumber}}</h4>
            </div>
            <div class="shelf-row" ui-sortable="sortableOptions" data-ng-model="books">
                <div class="book-cover" id="{{book.id}}" ng-repeat="book in books" set-shelf-initial-height>
                    <img ng-src="img/covers/{{book.cover}}" data-book-id="{{book.id}}" data-show-book-details>
                </div>
            </div>
            <div class="shelf-bottom"></div>
        </div>
    </div>

</body>
</html>

<!-- patterns from subtlepatterns.com -->
